# --- Python Backend ---
venv/
env/
.venv/
__pycache__/
*.pyc
.env

# --- React Frontend ---
node_modules/
dist/
.next/

# --- Mac / System Files ---
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
